body {
  margin: 50px;
  margin-right: 150px;
}

strong {
  font-size: 16px;
}

button {
  margin:15px;
}

a {
  margin: 15px;
}

.girl {
  padding-left: 20px;
  border-radius: 10px;
  border-color: lightpink;
  border-style: groove;
  height: 328px;
}

.image {
  float: left;
  margin-right: 20px;
}

.quote {
  font-size: 20px;
  color: inherit;
  padding-right: 25px;
  text-align: center;
}

.comments {
  font-family: sans-serif;
  border-width: 5px;
  border-color: darkgray;
  font-size: 16px;
}

.text{
  font-size:12px;
  text-indent: 20px;
}

.comments.reply{
  text-indent: 40px;
}

.comments.reply.text {
  text-indent:60px;
}

#Chizuru {
  color: brown;
}

#Mai {
  color:purple;
}

#Yukino {
  color: darkblue;
}
